<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
	<import resource="classpath:/erds/resource/cxf.xml" />
	<bean id="hello" class="erds.com.webservice.impl.HelloWorldImpl"></bean>
    <jaxws:server id="helloWorld" serviceClass="erds.com.webservice.HelloWorld" address="/HelloWorld">
    	<jaxws:serviceBean>
    		<ref bean="hello"/>
    	</jaxws:serviceBean>
    </jaxws:server>    
</beans>
